
    <!--TOOLBAR PRINCIPAL -->
      <md-toolbar ng-show="!showSearch" class="md-whiteframe-2dp size-content-toolbar">
        <div class="md-toolbar-tools">
          <md-button ng-click="toggleList()" hide-gt-sm aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
          </md-button>
          <h3>
            Job Positions > Categorias
          </h3>
          <span flex></span>

        <md-button aria-label="logout" class="md-icon-button" href="/">
          <i class="material-icons md-36 menucolor">exit_to_app</i>
        </md-button>
        </div>
      </md-toolbar>


  <div class="box1">
    <md-content layout="column" flex ng-controller="AppController">
            
      <md-card style="background-color:rgb(240,240,240);">
        
        <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length" ng-show="!showSearch">
          <div class="md-toolbar-tools" style="background-color:rgb(190,190,220);">
            <span>Listado</span>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="showSearch = !showSearch" aria-label="Search ">
              <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="getCategoriesForItem('job_positions')" aria-label="Refresh ">
              <ng-md-icon icon="refresh"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        

        <!-- BARRA DE BUSQUEDA -->
        <md-toolbar class="md-table-toolbar md-default" ng-show="showSearch">
          <div class="md-toolbar-tools" style="background-color:rgb(190,190,220);">
            <md-button class="md-icon-button" ng-click="showSearch = !showSearch; search.who=''" aria-label="Back ">
              <ng-md-icon icon="arrow_back"></ng-md-icon>
            </md-button>
            <md-input-container flex>
              <label>&nbsp;</label>
              <input ng-model="search.who" placeholder="Enter search">
            </md-input-container>
          </div>
        </md-toolbar>




        
        <md-table-container>
          <table md-table md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder="logOrder">
              <tr md-row style="background-color:rgb(220,220,220);">
                <th md-column md-order-by="name"><span style="font-size:16px;">Categoria</span></th>
                <th md-column><span style="font-size:16px;">Job Positions</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="category" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="category in categories_asociated | filter: search.who | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                <td md-cell>{{category.name}}</td>
                <td md-cell>
                  <md-chips ng-repeat="job_pos in category.job_positions">
                    <md-chip>{{job_pos.name}}</md-chip>
                  </md-chips>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{items.metadata.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
      </md-card>
    </md-content>
    





  </div>