div {
  border: 1px solid black;
}

md-sidenav, md-list {
  background-color: rgb(40,50,150);
}

.box3, .box2, .box1 {  
  display:flex;
  box-sizing: border-box;
  min-width:100%;

  background-color: rgb(63,81,181);
}

.box1 {  
  max-height:100%;
  flex:1 1 70%;
}

.box2 {
  height:20px;  
}

.box3 {  
  height:30%;
  max-height:30%;
  flex:1 1 30%;
}
